<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="fr.kougteam.myCellar" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>
    <application android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/title_activity_main" android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListeVinsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/title_activity_add_vin" android:name=".activity.AddVinActivity"/>
        <activity android:label="@string/title_activity_add_vin"
            android:name="fr.kougteam.myCellar.activity.AddVinFormActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_edit_vin"
            android:name="fr.kougteam.myCellar.activity.EditVinFormActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_detail_vin" android:name=".activity.DetailVinActivity"/>
    </application>
</manifest>
