<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="17" android:versionName="2.11"
    package="fr.kougteam.myCellar" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="18"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application android:icon="@drawable/ic_launcher" android:allowBackup="true"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/title_activity_main" android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListeVinsActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:label="@string/title_activity_liste_vins_par_region" android:name=".activity.ListeVinsParRegionActivity"/>
        <activity android:label="@string/title_activity_liste_vins_par_annee_maturite" android:name=".activity.ListeVinsParMaturiteActivity"/>
        <activity android:label="@string/title_activity_liste_mets" android:name=".activity.ListeMetsActivity"/>
        <activity android:label="@string/title_activity_liste_mets" android:name=".activity.AccordMetVinActivity"/>
        <activity android:label="@string/title_activity_edit_vin" android:name="fr.kougteam.myCellar.activity.EditVinFormActivity" android:configChanges="orientation"/>
        <activity android:label="@string/title_activity_detail_vin" android:name=".activity.DetailVinActivity"/>
        <provider
            android:name=".provider.ImageContentProvider"
            android:authorities="fr.kougteam.myCellar"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
